<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    <div class="container">

        <div class="navbar">

            <div class="logo">

                <div class="logo-icon">
                    <i class="fa-solid fa-briefcase"></i>
                </div>

                <div class="logo-text">
                    INTERVIEW COACH
                </div>

            </div>

            <div class="home">

                <div class ="home-icon">
                    <a href="{{ url_for('home') }}">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </div>

                <div class ="home-text">
                    <a href="{{ url_for('home') }}">
                    Home
                    </a>
                    
                </div>

            </div>

        </div>

        <div class="main">

            <div class="login-form">

                <form action="{{ url_for('login') }}" method="POST">

                    <h3>Login</h3>

                    <hr>

                    <div class="text-group">
                        <label for="username">Username</label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            placeholder="Enter username"
                            required>
                    </div>

                    <div class="text-group">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Enter your password"
                            required>
                    </div>

                    {% if error %}
                        <div class="error-box">
                        {{ error }}
                        </div>
                    {% endif %}

                    <div class="buttons">

                        
                        <button type="submit">
                             Log In
                        </button>


                    </div>

                    <hr>

                    <h4>Or</h4>

                </form>
                <div class="new-user">
                    

                    <div class="line">Don't have an account yet? 
                        <a href="{{ url_for('signup') }}">
                            Sign up
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>